$breakpoint-xs: 320px;
$breakpoint-s: 640px;
$breakpoint-m: 767px;
$breakpoint-l: 1200px;

body :not(i) {
  font-family: 'Josefin Sans', sans-serif !important;
}

i {
  font-family: FontAwesome !important;
}

a {
  color: #cccccc;
  text-decoration: none;
}

.fa-envelope {
  margin-right: .2em;
}

header {
    position: fixed;
    top: 3.3em;
    left: 1em;
    z-index: 3;

  	h1 {
  	    margin: 0;
        font-size: 1.8rem;

  	    a {
  	    	color: #000000;
  	    	letter-spacing: .2em;
  	    	text-decoration: none;

  	    	&:hover, &:active, &:focus {
      			text-decoration: none;
      			color: #000000;
  			}
  		}
	}

	h2 {
	    font-size: .9rem;
	    color: #444444;
	    padding: .1em;
	}

	@media only screen and (max-width: $breakpoint-s) {
		position: static;
		top: .5em;
    left: 1rem;

        h1 {
	        width: 100%;
	        text-align: center;
          margin-top: .2em;

	        a {
	        	text-align: center;
	        	font-size: 1.8rem;
	        	width: 100%;
	        	display: block;
	    	}
	    }

	    h2 {
	        margin: .3em 0 0 .5em;
          font-size: .8rem;
	    }
	}
}

@media only screen and (min-width: 1024px) {
    header h1 {
        width: 43%;
    }

    .is-text main {
        width: 55%;
    }
}

.is-text main h2 {
    font-size: 1.3rem;
    border-bottom: 1px solid #cccccc;
    padding-bottom: .5em;
}

.title {
    position: fixed;
    top: 12em;
    right: 2em;
    text-align: right;
    z-index: 10;
    width: 33em;
    color: #444444;

    h1, h2 {
      font-size: 1.4rem;
    }

    @media only screen and (max-width: $breakpoint-s) {
    	top: 1.3em;
      right: .5em;
      width: 11em;
    }

    @media only screen and (min-width: $breakpoint-m) {
      top: 50%;
    }

}

.fb-aside {
  text-align: center;

  @media only screen and (min-width: $breakpoint-m) {
      margin-left: 2.5em;
  }

  @media only screen and (min-width: $breakpoint-l) {
      position: absolute;    
      right: .3em;
      top: 7em;
  }
}

#root .main-menu {
	  text-align: right;
    font-size: .9rem;
    position: fixed;
    width: 100%;
    right: .5em;
    top: 0;
    padding-top: 1em;
    z-index: 2;

    @media only screen and (min-width: $breakpoint-m) {
        height: 90px;
        background-color: #ffffff;
    }

    @media only screen and (min-width: $breakpoint-l) {
        font-size: 1.1rem;
    }

    a span {
	    color: #000000;
	}

	.pure-menu-selected {
      background-color: #eee;
      pointer-events: none;
      cursor: default;

      @media only screen and (max-width: $breakpoint-s) {
          border-top: 1px solid #cccccc;
          border-left: 1px solid #cccccc;
          border-right: 1px solid #cccccc;
      }
	}

	@media only screen and (max-width: $breakpoint-s) {
		  z-index: 3;
      bottom: 3.3em;
      top: inherit;
      right: .05em;
      background-color: ghostwhite;
      width: 10.5em;
      opacity: .9;
      text-transform: uppercase;
      font-size: .8rem;
      padding-top: 0;

      > ul {
        display: none;
        height: 100%;
        opacity: .75;
      }

	    ul li a:hover {
	        color: #ffffff;
	        opacity: 1;
	    }

	    ul li:not(.pure-menu-selected) {
	        border-top: 1px solid #cccccc;
	        border-left: 1px solid #cccccc;
          border-right: 1px solid #cccccc;
	    }

	    ul li:last-of-type:not(.pure-menu-selected) {
	        border-bottom: 1px solid #cccccc;
	    }

	    ul li:last-of-type {
	        border-bottom: 1px solid #cccccc;
	    }

	    ul .pure-menu-item {
	        display: block;
	    }

	    ul li a {
	       padding: 1.3em 1em;
	       text-align: center;
	    }
	}
}

main p:last-of-type {
    margin-bottom: 3em;
}

.is-text main {
    margin: 8em 0 1em 3em;
    padding: 1em;
}

@media only screen and (max-width: $breakpoint-s) {
    #root.is-text .main-menu {
        opacity: 1;
        z-index: 11;
        float: right;
    }

    .is-text main {
    	margin: 0 0 1em;
	}
}

.fa {
      font-size: 1.5rem;
      color: #000;
}

.social-media-icons {
  width: 3.5rem;
  position: fixed;
  bottom: .5em;
  left: .5em;

  input {
      display: none;
  }

  @media only screen and (max-width: $breakpoint-s) {
    li:nth-of-type(5) {
       margin-left: .5em;
    }
    li:last-of-type {
       float: right;
       margin-right: .05em;
    }
  }

  @media only screen and (min-width: 641px) {
    li:last-of-type {
      display: none !important;
    }
  }

	@media only screen and (max-width: 768px) {
        z-index: 3;
        bottom: 0;
        height: 2.2em;
        top: inherit;
        left: inherit;
        width: 100%;
        background-color: #ffffff;
        font-size: 1.2rem;

      	li a {
          	display: inline-block;
            padding: .4em .5em;
      	}
	}

  @media only screen and (min-width: 600px) {
    width: 75%;
  }
}

/* Firefox Fix ContactPage */
@-moz-document url-prefix() {
      .social-media-icons li:last-of-type {
        float: none;
        position: absolute;
        right: 0;
      }
}

/*
.product-list {
    display: inline-block;
    margin: 0;
    padding: 0;

    .product {
	    border: 2px solid black;
	    text-align: center;
	    margin: .5rem;
	    display: inline-block;
	    width: 45%;

	    img {
		    max-width: auto;
		    max-height: 150px;
		}

		#qty-1 {
		    width: 20%;
		    margin-bottom: 1rem;
		    margin-left: .5rem;
		    text-align: center;
		}
	}

	@media only screen and (max-width: $breakpoint-s) {
		.product {
        	margin: .8rem auto;
        	width: 80%;
    	}
	}
}

.cart {
  	border: 1px solid black;
  	float: right;

 	.item {
	  	border-top: 1px solid black;

	  	td {
	  		padding: .2em .5em;
	  		border-right: 1px solid black;

	  		&.item-total {
	  			border: 0 none;
			}
		}
	}
}
*/

footer {
    position: fixed;
    bottom: 1em;
    right: 1em;
    text-decoration: none;
    text-align: right;
    color: #cccccc;
    font-size: .8rem;
    width: 35% !important;

    @media only screen and (max-width: 736px) {
        > img {
          display: none !important;
        }
    }

  	@media only screen and (max-width: $breakpoint-s) {
        display: none !important;
  	}
}

.stop-ani {
  -webkit-animation: 0 !important;
  animation: 0 !important;
}

.show-image {
  opacity: 1 !important;
}

.fade > div {
    width: 600px;
    height: 600px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    max-width: 100%;
    color: transparent;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    top: 50%;
    left: 50%;
    margin-top: -300px; 
    margin-left: -300px;

    @media only screen and (max-width: $breakpoint-xs) {
      max-height: 70vh;
    }

    @media only screen and (max-width: 415px) {
      max-height: 74vh;
      margin-top: -36vh;
      margin-left: -50vw;
    }
}

.fade figcaption {
  @media only screen and (min-width: $breakpoint-m) {
      position: fixed;
      top: 55%;
      right: 2em;
      text-align: right;
      z-index: 10;
      width: 15em;

      ul {
        list-style: none;
      }
  }

  @media only screen and (max-width: $breakpoint-m - 1px) {
      display: none;
  }
}

.fade.nine > div {
    animation: imageAnimation 36s linear infinite 0s;
}
.fade.eight > div {
    animation: imageAnimation 32s linear infinite 0s;
}
.fade.seven > div {
    animation: imageAnimation 28s linear infinite 0s;
}
.fade.six > div {
    animation: imageAnimation 24s linear infinite 0s;
}
.fade.five > div {
    animation: imageAnimation 20s linear infinite 0s;
}
.fade.four > div {
    animation: imageAnimation 16s linear infinite 0s;
}
.fade.three > div {
    animation: imageAnimation 12s linear infinite 0s;
}
.fade > div:nth-child(2) {
    animation-delay: 4s;
}
.fade > div:nth-child(3) {
    animation-delay: 8s;
}
.fade > div:nth-child(4) {
    animation-delay: 12s;
}
.fade > div:nth-child(5) {
    animation-delay: 16s;
}
.fade > div:nth-child(6) {
    animation-delay: 20s;
}
.fade > div:nth-child(7) {
    animation-delay: 24s;
}
.fade > div:nth-child(8) {
    animation-delay: 28s;
}
.fade > div:nth-child(9) {
    animation-delay: 32s;
}
.beards > div:nth-child(1) {
  background-image: url(../img/beards/beards1.jpg);
}
.beards > div:nth-child(2) {
  background-image: url(../img/beards/beards2.jpg);
}
.beards > div:nth-child(3) {
  background-image: url(../img/beards/beards5.jpg);
}
.beards > div:nth-child(4) {
  background-image: url(../img/beards/beards6.jpg);
}
.beards > div:nth-child(5) {
  background-image: url(../img/beards/beards7.jpg);
}
.beards > div:nth-child(6) {
  background-image: url(../img/beards/beards8.jpg);
}
.birds > div:nth-child(1) {
  background-image: url(../img/birds/birds1.jpg);
}
.birds > div:nth-child(2) {
  background-image: url(../img/birds/birds2.jpg);
}
.birds > div:nth-child(3) {
  background-image: url(../img/birds/birds3.jpg);
}
.birds > div:nth-child(4) {
  background-image: url(../img/birds/birds4.jpg);
}
.birds > div:nth-child(5) {
  background-image: url(../img/birds/birds5.jpg);
}
.birds > div:nth-child(6) {
  background-image: url(../img/birds/birds6.jpg);
}
.birds > div:nth-child(7) {
  background-image: url(../img/birds/birds7.jpg);
}
.birds > div:nth-child(8) {
  background-image: url(../img/birds/birds8.jpg);
}
.birds > div:nth-child(9) {
  background-image: url(../img/birds/birds9.jpg);
}
.redhands > div:nth-child(1) {
  background-image: url(../img/redhands/redhand1.jpg);
}
.redhands > div:nth-child(2) {
  background-image: url(../img/redhands/redhand2.jpg);
}
.redhands > div:nth-child(3) {
  background-image: url(../img/redhands/redhand3.jpg);
}
.portraits > div:nth-child(1) {
  background-image: url(../img/portraits/luke_child.jpg);
}
.portraits > div:nth-child(2) {
  background-image: url(../img/portraits/afro.jpg);
}
.portraits > div:nth-child(3) {
  background-image: url(../img/portraits/south_african_fashion.jpg);
}
.portraits > div:nth-child(4) {
  background-image: url(../img/portraits/untitled_woman.jpg);
}
.portraits > div:nth-child(5) {
  background-image: url(../img/portraits/depardieu.jpg);
}
.portraits > div:nth-child(6) {
  background-image: url(../img/portraits/jean_reno.jpg);
}
.portraits > div:nth-child(7) {
  background-image: url(../img/portraits/idris.jpg);
}
.illustrations > div:nth-child(1) {
  background-image: url(../img/illustrations/gasmask.jpg);
}
.illustrations > div:nth-child(2) {
  background-image: url(../img/illustrations/woman_with_gun.jpg);
}
.illustrations > div:nth-child(3) {
  background-image: url(../img/illustrations/angrycircles1.jpg);
}
.illustrations > div:nth-child(4) {
  background-image: url(../img/illustrations/angrycircles2.jpg);
}
.octopus > div:nth-child(1) {
  background-image: url(../img/octopus/octopus1.jpg);
}
.octopus > div:nth-child(2) {
  background-image: url(../img/octopus/octopus2.jpg);
}
.octopus > div:nth-child(3) {
  background-image: url(../img/octopus/octopus3.jpg);
}
.octopus > div:nth-child(4) {
  background-image: url(../img/octopus/octopus4.jpg);
}
.octopus > div:nth-child(5) {
  background-image: url(../img/octopus/octopus6.jpg);
}
.sneezing > div:nth-child(1) {
  background-image: url(../img/sneezing/sneezing_in_green1.jpg);
}
.sneezing > div:nth-child(2) {
  background-image: url(../img/sneezing/sneezing_in_green2.jpg);
}
.sneezing > div:nth-child(3) {
  background-image: url(../img/sneezing/sneezing_in_green3.jpg);
}
.sneezing > div:nth-child(4) {
  background-image: url(../img/sneezing/sneezing_in_green4.jpg);
}

@keyframes imageAnimation {
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
