@font-face {
    font-family: "FuturaLight", Arial, sans-serif !important;
    src: url("fonts/futura-light.ttf");
}

html header,
html main,
html .title,
html .main-menu,
html footer {
  font-family: "FuturaLight", Arial, sans-serif !important;
  src: url("fonts/futura-light.ttf");
}

header {
    position: fixed;
    left: 3em;
    top: 8%;

  	h1 {
  	    width: 80%;
  	    margin: 0;

  	    a {
  	    	color: #000000;
  	    	letter-spacing: .2em;
  	    	text-decoration: none;

  	    	&:hover, &:active, &:focus {
      			text-decoration: none;
      			color: #000000;
  			}
  		}
	}

	h2 {
	    font-size: .8rem;
	    color: #cccccc;
	    padding: .5em .3em;
	}

	@media only screen and (max-width: 640px) {
		position: static;
		top: 0;
        left: 1rem;

        h1 {
	        width: 100%;
	        text-align: center;
          margin-top: .1em;

	        a {
	        	text-align: center;
	        	font-size: 1.5rem;
	        	width: 100%;
	        	display: block;
	    	}
	    }

	    h2 {
	        margin: 0 0 0 .2em;
	    }
	}
}

.is-text header, .is-text .title {
    /*position: absolute;*/
}

.is-text main h2 {
    font-size: 1.2rem;
}

.title {
    position: fixed;
    top: 20%;
    right: 7em;
    font-size: .6rem;
    text-align: right;
    z-index: 10;
    width: 30em;

    @media only screen and (max-width: 640px) {
    	top: 5%;
      right: 1em;
      width: 14em;
    }
}

.main-menu {
	text-align: right;
    font-size: .8rem;
    position: fixed;
    width: 100%;
    left: -1em;
    top: 1em;
    z-index: 100;

    li:first-of-type {
      display: none !important;
    }

    a span {
	    color: #000000;
	}

	.pure-menu-selected {
	    display: none !important;
	}

	input, label {
	    display: none;
	}

	label {
	    cursor: pointer;
	}

	@media only screen and (max-width: 640px) {
		    z-index: 3;
        bottom: 5em;
        top: inherit;
        left: inherit;
        right: 0;
        background-color: ghostwhite;
        width: 8em;
        opacity: .9;

        > ul {
	        display: none !important;
	        height: 100%;
	    }

	    input:checked ~ ul {
	        display: block !important;
	        opacity: .7;
	    }

	    input:checked ~ ul li a:hover {
	        color: #ffffff;
	        opacity: 1;
	    }

	    input:checked ~ ul li:not(.pure-menu-selected) {
	        border-top: 1px solid #cccccc;
	        border-left: 1px solid #cccccc;
	    }

	    input:checked ~ ul li:last-of-type:not(.pure-menu-selected) {
	        border-bottom: 1px solid #cccccc;
	    }

	    input:checked ~ ul li:last-of-type {
	        border-bottom: 1px solid #cccccc;
	    }

	    ul .pure-menu-item {
	        display: block;
	    }

	    ul li a {
	       padding: 1.3em 1em;
	       text-align: right;
	    }

	    label {
	      position: fixed;
	      right: .5em;
	      bottom: 2em;
	      background-image: url('../img/menu-alt.png');
	      width: 32px;
	      height: 32px;
	      display: block;
	    }
	}
}

main p:last-of-type {
    margin-bottom: 3em;
}

.is-text main {
    margin: 10em 0 1em;
    padding: 1em;
}

@media only screen and (max-width: 640px) {

    #root.is-text .main-menu {
        opacity: 1;
        z-index: 11;
    }

    .is-text .main-menu label {
        /*
        right: 2em;
        bottom: 2em;
        */

    }

    .is-text main {
    	margin: 0 0 1em;
	}
}

.social-media-icons {
	width: 3.5rem;
    position: fixed;
    top: .5em;
    left: .5em;

	.fa {
    	font-size: 1.5rem;
    	color: #000;
	}

	@media only screen and (max-width: 640px) {
        z-index: 3;
        bottom: 0;
        height: 4em;
        top: inherit;
        left: inherit;
        width: 100%;
        background-color: #ffffff;

    	li a {
        	display: inline-block;
    	}
	}
}

.product-list {
    display: inline-block;
    margin: 0;
    padding: 0;

    .product {
	    border: 2px solid black;
	    text-align: center;
	    margin: .5rem;
	    display: inline-block;
	    width: 45%;

	    img {
		    max-width: auto;
		    max-height: 150px;
		}

		#qty-1 {
		    width: 20%;
		    margin-bottom: 1rem;
		    margin-left: .5rem;
		    text-align: center;
		}
	}

	@media only screen and (max-width: 640px) {
		.product {
        	margin: .8rem auto;
        	width: 80%;
    	}
	}
}

.cart {
  	border: 1px solid black;
  	float: right;

 	.item {
	  	border-top: 1px solid black;

	  	td {
	  		padding: .2em .5em;
	  		border-right: 1px solid black;

	  		&.item-total {
	  			border: 0 none;
			}
		}
	}
}

footer {
    position: fixed;
    bottom: 1em;
    left: 88%;
    text-decoration: none;
    color: #cccccc;
    font-size: .7rem;

    img {
    	position: relative;
    	left: 3em;
    	top: 0;
	}

	@media only screen and (max-width: 640px) {
		  left: 1%;
	    bottom: .1em;
	    z-index: 4;
	    width: 42% !important;

	    .txt-lft {
	        position: static;
	    }

	    img {
	        display: none !important;
	    }

	    &.contact {
        	display: none;
    	}
	}
}


.fade div {
    width: 600px;
    height: 600px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
}


.fade > div {
    top: 12%;
    max-width: 100%;
    max-height: 75vh;
    color: transparent;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;

    @media only screen and (min-width: 767px) {
    	left: 20%;
    }
}

.fade.nine > div {
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s;
}
.fade.eight > div {
    -webkit-animation: imageAnimation 32s linear infinite 0s;
    -moz-animation: imageAnimation 32s linear infinite 0s;
    -o-animation: imageAnimation 32s linear infinite 0s;
    -ms-animation: imageAnimation 32s linear infinite 0s;
    animation: imageAnimation 32s linear infinite 0s;
}
.fade.seven > div {
    -webkit-animation: imageAnimation 28s linear infinite 0s;
    -moz-animation: imageAnimation 28s linear infinite 0s;
    -o-animation: imageAnimation 28s linear infinite 0s;
    -ms-animation: imageAnimation 28s linear infinite 0s;
    animation: imageAnimation 28s linear infinite 0s;
}
.fade.six > div {
    -webkit-animation: imageAnimation 24s linear infinite 0s;
    -moz-animation: imageAnimation 24s linear infinite 0s;
    -o-animation: imageAnimation 24s linear infinite 0s;
    -ms-animation: imageAnimation 24s linear infinite 0s;
    animation: imageAnimation 24s linear infinite 0s;
}
.fade.five > div {
    -webkit-animation: imageAnimation 20s linear infinite 0s;
    -moz-animation: imageAnimation 20s linear infinite 0s;
    -o-animation: imageAnimation 20s linear infinite 0s;
    -ms-animation: imageAnimation 20s linear infinite 0s;
    animation: imageAnimation 20s linear infinite 0s;
}
.fade.four > div {
    -webkit-animation: imageAnimation 16s linear infinite 0s;
    -moz-animation: imageAnimation 16s linear infinite 0s;
    -o-animation: imageAnimation 16s linear infinite 0s;
    -ms-animation: imageAnimation 16s linear infinite 0s;
    animation: imageAnimation 16s linear infinite 0s;
}
.fade.three > div {
    -webkit-animation: imageAnimation 12s linear infinite 0s;
    -moz-animation: imageAnimation 12s linear infinite 0s;
    -o-animation: imageAnimation 12s linear infinite 0s;
    -ms-animation: imageAnimation 12s linear infinite 0s;
    animation: imageAnimation 12s linear infinite 0s;
}

.fade > div:nth-child(2) {
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    -o-animation-delay: 4s;
    -ms-animation-delay: 4s;
    animation-delay: 4s;
}
.fade > div:nth-child(3) {
    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
    -o-animation-delay: 8s;
    -ms-animation-delay: 8s;
    animation-delay: 8s;
}
.fade > div:nth-child(4) {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.fade > div:nth-child(5) {
    -webkit-animation-delay: 16s;
    -moz-animation-delay: 16s;
    -o-animation-delay: 16s;
    -ms-animation-delay: 16s;
    animation-delay: 16s;
}
.fade > div:nth-child(6) {
    -webkit-animation-delay: 20s;
    -moz-animation-delay: 20s;
    -o-animation-delay: 20s;
    -ms-animation-delay: 20s;
    animation-delay: 20s;
}
.fade > div:nth-child(7) {
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
}
.fade > div:nth-child(8) {
    -webkit-animation-delay: 28s;
    -moz-animation-delay: 28s;
    -o-animation-delay: 28s;
    -ms-animation-delay: 28s;
    animation-delay: 28s;
}
.fade > div:nth-child(9) {
    -webkit-animation-delay: 32s;
    -moz-animation-delay: 32s;
    -o-animation-delay: 32s;
    -ms-animation-delay: 32s;
    animation-delay: 32s;
}
.beards div:nth-child(1) {
  background-image: url(../img/big/beards/beards1.jpg);
}
.beards div:nth-child(2) {
  background-image: url(../img/big/beards/beards2.jpg);
}
.beards div:nth-child(3) {
  background-image: url(../img/big/beards/beards3.jpg);
}
.beards div:nth-child(4) {
  background-image: url(../img/big/beards/beards4.jpg);
}
.beards div:nth-child(5) {
  background-image: url(../img/big/beards/beards5.jpg);
}
.beards div:nth-child(6) {
  background-image: url(../img/big/beards/beards6.jpg);
}
.beards div:nth-child(7) {
  background-image: url(../img/big/beards/beards7.jpg);
}
.beards div:nth-child(8) {
  background-image: url(../img/big/beards/beards8.jpg);
}
.birds div:nth-child(1) {
  background-image: url(../img/big/birds/birds1.jpg);
}
.birds div:nth-child(2) {
  background-image: url(../img/big/birds/birds2.jpg);
}
.birds div:nth-child(3) {
  background-image: url(../img/big/birds/birds3.jpg);
}
.birds div:nth-child(4) {
  background-image: url(../img/big/birds/birds4.jpg);
}
.birds div:nth-child(5) {
  background-image: url(../img/big/birds/birds5.jpg);
}
.birds div:nth-child(6) {
  background-image: url(../img/big/birds/birds6.jpg);
}
.birds div:nth-child(7) {
  background-image: url(../img/big/birds/birds7.jpg);
}
.birds div:nth-child(8) {
  background-image: url(../img/big/birds/birds8.jpg);
}
.birds div:nth-child(9) {
  background-image: url(../img/big/birds/birds9.jpg);
}
.redhands div:nth-child(1) {
  background-image: url(../img/big/redhands/redhand1.jpg);
}
.redhands div:nth-child(2) {
  background-image: url(../img/big/redhands/redhand2.jpg);
}
.redhands div:nth-child(3) {
  background-image: url(../img/big/redhands/redhand3.jpg);
}
.photos div:nth-child(1) {
  background-image: url(../img/big/photos/what_my_pillow_sees_at_night.jpg);
}
.photos div:nth-child(2) {
  background-image: url(../img/big/photos/artist_at_work.jpg);
}
.photos div:nth-child(3) {
  background-image: url(../img/big/photos/yotoshi_publications.jpg);
}
.photos div:nth-child(4) {
  background-image: url(../img/big/photos/marcus_room.jpg);
}
.photos div:nth-child(5) {
  background-image: url(../img/big/photos/the_caretaker.jpg);
}
.portraits div:nth-child(1) {
  background-image: url(../img/big/portraits/afro.jpg);
}
.portraits div:nth-child(2) {
  background-image: url(../img/big/portraits/south_african_fashion.jpg);
}
.portraits div:nth-child(3) {
  background-image: url(../img/big/portraits/untitled_woman.jpg);
}
.portraits div:nth-child(4) {
  background-image: url(../img/big/portraits/stina.jpg);
}
.portraits div:nth-child(5) {
  background-image: url(../img/big/portraits/bolan.jpg);
}
.portraits div:nth-child(6) {
  background-image: url(../img/big/portraits/depardieu.jpg);
}
.portraits div:nth-child(7) {
  background-image: url(../img/big/portraits/bearded_man.jpg);
}
.illustrations div:nth-child(1) {
  background-image: url(../img/big/illustrations/luke_child.jpg);
}
.illustrations div:nth-child(2) {
  background-image: url(../img/big/illustrations/gasmask.jpg);
}
.illustrations div:nth-child(3) {
  background-image: url(../img/big/illustrations/woman_with_gun.jpg);
}
.illustrations div:nth-child(4) {
  background-image: url(../img/big/illustrations/angrycircles1.jpg);
}
.illustrations div:nth-child(5) {
  background-image: url(../img/big/illustrations/angrycircles2.jpg);
}
.octopus div:nth-child(1) {
  background-image: url(../img/big/octopus/octopus1.jpg);
}
.octopus div:nth-child(2) {
  background-image: url(../img/big/octopus/octopus2.jpg);
}
.octopus div:nth-child(3) {
  background-image: url(../img/big/octopus/octopus3.jpg);
}
.octopus div:nth-child(4) {
  background-image: url(../img/big/octopus/octopus4.jpg);
}
.octopus div:nth-child(5) {
  background-image: url(../img/big/octopus/octopus5.jpg);
}
.sneezing div:nth-child(1) {
  background-image: url(../img/big/sneezing/sneezing_in_green1.jpg);
}
.sneezing div:nth-child(2) {
  background-image: url(../img/big/sneezing/sneezing_in_green2.jpg);
}
.sneezing div:nth-child(3) {
  background-image: url(../img/big/sneezing/sneezing_in_green3.jpg);
}
.sneezing div:nth-child(4) {
  background-image: url(../img/big/sneezing/sneezing_in_green4.jpg);
}

@-webkit-keyframes imageAnimation {
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-moz-keyframes imageAnimation {
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-o-keyframes imageAnimation {
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-ms-keyframes imageAnimation {
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes imageAnimation {
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
