@charset "UTF-8";
body :not(i) {
  font-family: 'Josefin Sans', sans-serif !important;
}

body {
  overflow-x: hidden;
  width: 100%;
}

i {
  font-family: FontAwesome !important;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

audio {
  margin: .5em 0 .2em 0;
  display: block;
  max-width: 100%;
}

a {
  color: #444444;
  text-decoration: none;
}

.fa-envelope {
  margin-right: .2em;
}

header {
  z-index: 3;
}
@media only screen and (max-width: 640px) {
  header.is-index {
    text-align: center;
  }
}
header select {
  font-size: 13px;
  vertical-align: 1px;
}
header .title {
  text-align: right;
  color: #444444;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  display: inline-block;
}
@media only screen and (min-width: 641px) {
  header .title {
    position: absolute;
    top: 60%;
    right: .5em;
  }
  header .title h1 {
    padding-bottom: .5em;
  }
}
header h1, header a {
  display: block;
  font-size: 2rem;
  letter-spacing: .1em !important;
  text-decoration: none;
  margin: .3em .1em;
  font-weight: normal;
}
header h1:hover, header h1:active, header h1:focus, header a:hover, header a:active, header a:focus {
  text-decoration: none;
  color: #000000;
}
header h2, header h3 {
  color: #444444;
  padding: 0 .3em;
  margin: 0;
  display: inline-block;
  font-size: .9rem;
}
@media only screen and (max-width: 640px) {
  header .title h1 {
    padding: 0;
    margin: 0 !important;
    font-size: .9rem;
    font-weight: bold;
    border-bottom: 0 none;
  }
  header > h1, header > a {
    text-align: center;
    width: 100%;
  }
  header h2 select, header h3 select {
    padding: .1em;
    height: 18px;
  }
}

@media only screen and (min-width: 1024px) {
  .is-text main {
    width: 55%;
  }

  header > h1, header > a {
    width: 70% !important;
    padding: .3em .6em;
    font-size: 2.2rem !important;
  }

  .p-lft {
    padding-left: .7em !important;
  }

  .title h1 {
    font-size: 1.5rem !important;
  }

  header h2,
  header h3 {
    padding: 0 .5em 0 2em;
  }
}
.is-text main h1 {
  font-size: 1.7rem;
}

.is-text main h2 {
  font-size: 1.2rem;
  border-bottom: 1px solid #cccccc;
  padding-bottom: .5em;
}

@media only screen and (max-width: 640px) {
  .is-text header h2,
  .is-text header h3 {
    text-align: center;
    width: 65%;
  }
}
.fb-aside {
  text-align: center;
}
@media only screen and (min-width: 767px) {
  .fb-aside {
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1200px) {
  .fb-aside {
    position: absolute;
    right: 1em;
    top: 9em;
  }
}

.row-lst {
  margin-bottom: .5em;
}
.row-lst ul, .row-lst li, .row-lst a {
  display: inline;
}
@media only screen and (max-width: 640px) {
  .row-lst li {
    display: inline-block;
    max-width: 48%;
  }
}

#root .main-menu {
  text-align: right;
  font-size: .9rem;
  position: fixed;
  width: 100%;
  right: .5em;
  top: 0;
  padding-top: 1em;
  z-index: 2;
}
@media only screen and (min-width: 767px) and (max-width: 1200px) and (orientation: landscape) {
  #root .main-menu ul {
    text-align: left;
  }
  #root .main-menu ul li {
    float: right;
    width: 33%;
  }
}
@media only screen and (min-width: 1200px) {
  #root .main-menu {
    font-size: 1.1rem;
  }
}
@media only screen and (orientation: portrait) and (min-width: 767px) {
  #root .main-menu ul {
    width: 50%;
  }
  #root .main-menu ul li {
    width: 42%;
  }
}
@media only screen and (orientation: landscape) and (max-width: 1199px) {
  #root .main-menu ul {
    width: 50%;
  }
  #root .main-menu ul li {
    float: right;
    width: 42%;
  }
}
#root .main-menu a span {
  color: #000000;
}
#root .main-menu .pure-menu-selected {
  background-color: #eee;
  pointer-events: none;
  cursor: default;
}
@media only screen and (max-width: 640px) {
  #root .main-menu .pure-menu-selected {
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
  }
}
@media only screen and (max-width: 640px) {
  #root .main-menu {
    z-index: 3;
    bottom: 3em;
    top: inherit;
    right: 0;
    background-color: ghostwhite;
    width: 13em;
    opacity: .85;
    text-transform: uppercase;
    font-size: .9rem;
    padding-top: 0;
  }
  #root .main-menu > ul {
    display: none;
    height: 100%;
    opacity: .75;
  }
  #root .main-menu ul li a:hover {
    color: #ffffff;
    opacity: 1;
  }
  #root .main-menu ul li:not(.pure-menu-selected) {
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
  }
  #root .main-menu ul li:last-of-type:not(.pure-menu-selected) {
    border-bottom: 1px solid #cccccc;
  }
  #root .main-menu ul li:last-of-type {
    border-bottom: 1px solid #cccccc;
  }
  #root .main-menu ul .pure-menu-item {
    display: block;
  }
  #root .main-menu ul li a {
    padding: 1.1em .5em 1.1em 0;
  }
}

main p:last-of-type {
  margin-bottom: 1em;
}

.is-text main {
  margin: 2em 0 1em 1em;
  padding: .5em;
}
.is-text main .address strong {
  display: block;
}
.is-text main .address a {
  display: block;
  padding-top: 1rem;
}

@media only screen and (max-width: 640px) {
  #root.is-text .main-menu {
    opacity: 1;
    z-index: 11;
    float: right;
  }

  .is-text main {
    margin: 0 0 1em;
  }

  footer {
    display: none !important;
  }
}
.fa {
  font-size: 1.5rem;
  color: #000;
}

.social-media-icons {
  position: fixed;
  bottom: 0;
  left: .5em;
}
.social-media-icons input {
  display: none;
}
@media only screen and (max-width: 640px) {
  .social-media-icons li:nth-of-type(5) {
    margin-left: .3em;
  }
  .social-media-icons li:last-of-type {
    float: right;
  }
}
@media only screen and (min-width: 641px) {
  .social-media-icons li:last-of-type {
    display: none !important;
  }
  .social-media-icons li:not(.is-text):nth-of-type(5) {
    left: 28vw;
  }
  .social-media-icons li:not(.is-text):nth-of-type(6) {
    left: 28vw;
  }
}
@media only screen and (max-width: 768px) {
  .social-media-icons {
    z-index: 3;
    bottom: 0;
    height: 2.3em;
    top: inherit;
    left: inherit;
    width: 100%;
    background-color: #ffffff;
    font-size: 1.2rem;
  }
  .social-media-icons li a {
    display: inline-block;
    padding: .5em;
  }
}
@media only screen and (min-width: 767px) {
  .social-media-icons {
    width: 50%;
    bottom: 1em;
  }
}

/* Firefox Fix ContactPage */
@-moz-document url-prefix() {
  .social-media-icons li:last-of-type {
    float: none;
    position: absolute;
    right: 0;
  }
}
footer {
  position: fixed;
  bottom: 1em;
  right: 1em;
  text-decoration: none;
  text-align: right;
  color: #767676;
  font-size: .8rem;
  width: 35% !important;
}
@media only screen and (orientation: landscape) and (max-width: 1199px) {
  footer img {
    display: none !important;
  }
}
@media only screen and (orientation: portrait) {
  footer img {
    display: none !important;
  }
}

.stop-ani {
  -webkit-animation: 0 !important;
  animation: 0 !important;
}

.show-image {
  opacity: 1 !important;
}

.fade > div {
  width: 600px;
  height: 600px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  max-width: 100%;
  max-height: 88vh;
  color: transparent;
  opacity: 0;
  z-index: 0;
  -webkit-backface-visibility: hidden;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -220px;
}
@media only screen and (max-width: 415px) {
  .fade > div {
    max-height: 71vh;
    margin-top: -38vh;
    margin-left: -50vw;
  }
}
@media only screen and (max-width: 640px) {
  .fade > div {
    margin-top: -33vh;
  }
}
@media only screen and (orientation: landscape) and (min-width: 767px) {
  .fade > div {
    max-height: 100vh;
    top: 33%;
    left: 45%;
    margin-top: -150px;
    margin-left: -240px;
  }
}
@media only screen and (orientation: portrait) and (min-width: 767px) {
  .fade > div {
    max-height: 83vh;
    top: 25%;
    left: 50%;
    margin-top: -150px;
    margin-left: -240px;
  }
}

.fade.wide > div {
  width: 800px;
  height: 600px;
  margin-top: -400px;
  margin-left: -400px;
}
@media only screen and (max-width: 415px) {
  .fade.wide > div {
    margin-top: -32vh;
    margin-left: -50vw;
  }
}
@media only screen and (orientation: landscape) {
  .fade.wide > div {
    margin-top: -130px;
    max-height: 69vh;
  }
}

@media only screen and (min-width: 767px) {
  .fade figcaption {
    position: fixed;
    top: 67%;
    right: .5em;
    text-align: right;
    z-index: 10;
    width: 28em;
  }
  .fade figcaption ul {
    list-style: none;
  }
  .fade figcaption h2 {
    font-size: 1.2rem;
  }
}
@media only screen and (orientation: portrait) {
  .fade figcaption {
    top: 78%;
  }
}
@media only screen and (max-width: 766px) {
  .fade figcaption {
    display: none;
  }
}

.fade.ten > div {
  -webkit-animation: imageAnimation 40s linear infinite 0s;
  animation: imageAnimation 40s linear infinite 0s;
}

.fade.nine > div {
  -webkit-animation: imageAnimation 36s linear infinite 0s;
  animation: imageAnimation 36s linear infinite 0s;
}

.fade.eight > div {
  -webkit-animation: imageAnimation 32s linear infinite 0s;
  animation: imageAnimation 32s linear infinite 0s;
}

.fade.seven > div {
  -webkit-animation: imageAnimation 28s linear infinite 0s;
  animation: imageAnimation 28s linear infinite 0s;
}

.fade.six > div {
  -webkit-animation: imageAnimation 24s linear infinite 0s;
  animation: imageAnimation 24s linear infinite 0s;
}

.fade.five > div {
  -webkit-animation: imageAnimation 20s linear infinite 0s;
  animation: imageAnimation 20s linear infinite 0s;
}

.fade.four > div {
  -webkit-animation: imageAnimation 16s linear infinite 0s;
  animation: imageAnimation 16s linear infinite 0s;
}

.fade.three > div {
  -webkit-animation: imageAnimation 12s linear infinite 0s;
  animation: imageAnimation 12s linear infinite 0s;
}

.fade > div:nth-child(2) {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.fade > div:nth-child(3) {
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
}

.fade > div:nth-child(4) {
  -webkit-animation-delay: 12s;
  animation-delay: 12s;
}

.fade > div:nth-child(5) {
  -webkit-animation-delay: 16s;
  animation-delay: 16s;
}

.fade > div:nth-child(6) {
  -webkit-animation-delay: 20s;
  animation-delay: 20s;
}

.fade > div:nth-child(7) {
  -webkit-animation-delay: 24s;
  animation-delay: 24s;
}

.fade > div:nth-child(8) {
  -webkit-animation-delay: 28s;
  animation-delay: 28s;
}

.fade > div:nth-child(9) {
  -webkit-animation-delay: 32s;
  animation-delay: 32s;
}

.fade > div:nth-child(10) {
  -webkit-animation-delay: 36s;
  animation-delay: 36s;
}

.beards > div:nth-child(1) {
  background-image: url(../img/beards/beards1.jpg);
}

.beards > div:nth-child(2) {
  background-image: url(../img/beards/beards2.jpg);
}

.beards > div:nth-child(3) {
  background-image: url(../img/beards/beards5.jpg);
}

.beards > div:nth-child(4) {
  background-image: url(../img/beards/beards6.jpg);
}

.beards > div:nth-child(5) {
  background-image: url(../img/beards/beards7.jpg);
}

.beards > div:nth-child(6) {
  background-image: url(../img/beards/beards8.jpg);
}

.birds > div:nth-child(1) {
  background-image: url(../img/birds/birds1.jpg);
}

.birds > div:nth-child(2) {
  background-image: url(../img/birds/birds2.jpg);
}

.birds > div:nth-child(3) {
  background-image: url(../img/birds/birds3.jpg);
}

.birds > div:nth-child(4) {
  background-image: url(../img/birds/birds4.jpg);
}

.birds > div:nth-child(5) {
  background-image: url(../img/birds/birds5.jpg);
}

.birds > div:nth-child(6) {
  background-image: url(../img/birds/birds6.jpg);
}

.birds > div:nth-child(7) {
  background-image: url(../img/birds/birds7.jpg);
}

.birds > div:nth-child(8) {
  background-image: url(../img/birds/birds8.jpg);
}

.birds > div:nth-child(9) {
  background-image: url(../img/birds/birds9.jpg);
}

.birds > div:nth-child(10) {
  background-image: url(../img/birds/birds10.jpg);
}

.redhands > div:nth-child(1) {
  background-image: url(../img/redhands/redhand1.jpg);
}

.redhands > div:nth-child(2) {
  background-image: url(../img/redhands/redhand2.jpg);
}

.redhands > div:nth-child(3) {
  background-image: url(../img/redhands/redhand3.jpg);
}

.portraits > div:nth-child(1) {
  background-image: url(../img/portraits/luke_child.jpg);
}

.portraits > div:nth-child(2) {
  background-image: url(../img/portraits/afro.jpg);
}

.portraits > div:nth-child(3) {
  background-image: url(../img/portraits/south_african_fashion.jpg);
}

.portraits > div:nth-child(4) {
  background-image: url(../img/portraits/untitled_woman.jpg);
}

.portraits > div:nth-child(5) {
  background-image: url(../img/portraits/depardieu.jpg);
}

.portraits > div:nth-child(6) {
  background-image: url(../img/portraits/jean_reno.jpg);
}

.portraits > div:nth-child(7) {
  background-image: url(../img/portraits/idris.jpg);
}

.illustrations > div:nth-child(1) {
  background-image: url(../img/illustrations/gasmask.jpg);
}

.illustrations > div:nth-child(2) {
  background-image: url(../img/illustrations/woman_with_gun.jpg);
}

.illustrations > div:nth-child(3) {
  background-image: url(../img/illustrations/angrycircles1.jpg);
}

.illustrations > div:nth-child(4) {
  background-image: url(../img/illustrations/angrycircles2.jpg);
}

.octopus > div:nth-child(1) {
  background-image: url(../img/octopus/octopus1.jpg);
}

.octopus > div:nth-child(2) {
  background-image: url(../img/octopus/octopus2.jpg);
}

.octopus > div:nth-child(3) {
  background-image: url(../img/octopus/octopus3.jpg);
}

.octopus > div:nth-child(4) {
  background-image: url(../img/octopus/octopus4.jpg);
}

.octopus > div:nth-child(5) {
  background-image: url(../img/octopus/octopus6.jpg);
}

.sneezing > div:nth-child(1) {
  background-image: url(../img/sneezing/sneezing_in_green1.jpg);
}

.sneezing > div:nth-child(2) {
  background-image: url(../img/sneezing/sneezing_in_green2.jpg);
}

.sneezing > div:nth-child(3) {
  background-image: url(../img/sneezing/sneezing_in_green3.jpg);
}

.sneezing > div:nth-child(4) {
  background-image: url(../img/sneezing/sneezing_in_green4.jpg);
}

.sketchbooks > div:nth-child(1) {
  background-image: url(../img/goldbook/goldbook_cover.jpg);
}

.sketchbooks > div:nth-child(2) {
  background-image: url(../img/goldbook/goldbook_pages_1_2.jpg);
}

.sketchbooks > div:nth-child(3) {
  background-image: url(../img/goldbook/goldbook_pages_3_4.jpg);
}

.sketchbooks > div:nth-child(4) {
  background-image: url(../img/goldbook/goldbook_pages_5_6.jpg);
}

.sketchbooks > div:nth-child(5) {
  background-image: url(../img/goldbook/goldbook_pages_7_8.jpg);
}

.sketchbooks > div:nth-child(6) {
  background-image: url(../img/goldbook/goldbook_center.jpg);
}

.sketchbooks > div:nth-child(7) {
  background-image: url(../img/goldbook/goldbook_pages_9_10.jpg);
}

.sisters > div:nth-child(1) {
  background-image: url(../img/sisters/infinite_sisterhood1.jpg);
}

.sisters > div:nth-child(2) {
  background-image: url(../img/sisters/infinite_sisterhood2.jpg);
}

.sisters > div:nth-child(3) {
  background-image: url(../img/sisters/infinite_sisterhood3.jpg);
}

.sisters > div:nth-child(4) {
  background-image: url(../img/sisters/infinite_sisterhood4.jpg);
}

.sisters > div:nth-child(5) {
  background-image: url(../img/sisters/infinite_sisterhood5.jpg);
}

.sisters > div:nth-child(6) {
  background-image: url(../img/sisters/infinite_sisterhood6.jpg);
}

.poster {
  float: right;
  margin: .3em 0 0 1em;
}

@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.transition, .accordeon p, .accordeon .content, .accordeon li i:before, .accordeon li i:after {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.flipIn, .accordeon h2, .accordeon li {
  -webkit-animation: flipdown 0.5s ease both;
  animation: flipdown 0.5s ease both;
}

.accordeon > a {
  display: block;
  margin: .2em;
}

.accordeon p, .accordeon .content {
  color: #000000;
  position: relative;
  overflow: hidden;
  max-height: 600px;
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  margin-top: 1em;
  z-index: 2;
}

.accordeon li {
  position: relative;
  margin: 0;
  padding: .5em 0;
}
.accordeon li:visible:nth-of-type(1) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.accordeon li:visible:nth-of-type(2) {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}
.accordeon li:visible:nth-of-type(3) {
  -webkit-animation-delay: 1.0s;
  animation-delay: 1.0s;
}
.accordeon li i {
  position: absolute;
  -webkit-transform: translate(-6px, 0);
  transform: translate(-6px, 0);
  margin-top: 1.7em;
  right: .5em;
}
.accordeon li i:before, .accordeon li i:after {
  content: "";
  position: absolute;
  background-color: #444444;
  width: 3px;
  height: 9px;
}
.accordeon li i:before {
  -webkit-transform: translate(-2px, 0) rotate(45deg);
  transform: translate(-2px, 0) rotate(45deg);
}
.accordeon li i:after {
  -webkit-transform: translate(2px, 0) rotate(-45deg);
  transform: translate(2px, 0) rotate(-45deg);
}
.accordeon li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
.accordeon li input[type=checkbox]:checked ~ p, .accordeon li input[type=checkbox]:checked ~ .content {
  margin-top: 0;
  margin-bottom: 0;
  max-height: 0;
  opacity: 0;
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%);
}
.accordeon li input[type=checkbox]:checked ~ i:before {
  -webkit-transform: translate(2px, 0) rotate(45deg);
  transform: translate(2px, 0) rotate(45deg);
}
.accordeon li input[type=checkbox]:checked ~ i:after {
  -webkit-transform: translate(-2px, 0) rotate(-45deg);
  transform: translate(-2px, 0) rotate(-45deg);
}

@media only screen and (min-width: 767px) {
  .accordeon p {
    width: 75%;
  }
}
.accordeon li:first-of-type {
  border-top: 0 none;
}

@-webkit-keyframes flipdown {
  0% {
    opacity: 0;
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    -webkit-transform: rotateX(8deg);
    transform: rotateX(8deg);
  }
  83% {
    -webkit-transform: rotateX(6deg);
    transform: rotateX(6deg);
  }
  92% {
    -webkit-transform: rotateX(-3deg);
    transform: rotateX(-3deg);
  }
  100% {
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}

@keyframes flipdown {
  0% {
    opacity: 0;
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    -webkit-transform: rotateX(8deg);
    transform: rotateX(8deg);
  }
  83% {
    -webkit-transform: rotateX(6deg);
    transform: rotateX(6deg);
  }
  92% {
    -webkit-transform: rotateX(-3deg);
    transform: rotateX(-3deg);
  }
  100% {
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}
figure {
  margin: 0;
}

.sliderElements,
.sliderElements figure,
.sliderControls {
  margin: 0;
}

.sliderElements:after {
  content: ".";
  display: block;
  height: .1px;
  clear: both;
  visibility: hidden;
  font-size: 0;
  overflow: hidden;
}

.sliderElements {
  list-style: none;
  position: relative;
  left: 0;
  width: 800%;
  margin-bottom: .8em;
  -webkit-transition: left .8s ease-in-out;
  transition: left .8s ease-in-out;
}

.sliderElements > li > figure:after {
  -webkit-box-shadow: inset 0px 0px 2px 7px rgba(46, 48, 50, 0.9);
  box-shadow: inset 0px 0px 2px 7px rgba(46, 48, 50, 0.9);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, #ffffff 100%, #ffffff 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  content: "";
}

.sliderElements > li {
  float: left;
  width: 12.5%;
  position: relative;
}

#slide02:checked ~ .sliderElements {
  left: -100%;
}

#slide03:checked ~ .sliderElements {
  left: -200%;
}

#slide04:checked ~ .sliderElements {
  left: -300%;
}

#slide05:checked ~ .sliderElements {
  left: -400%;
}

#slide06:checked ~ .sliderElements {
  left: -500%;
}

#slide07:checked ~ .sliderElements {
  left: -600%;
}

#slide08:checked ~ .sliderElements {
  left: -700%;
}

/* Bildunterschrift auf dem Bild positionieren */
.sliderElements figcaption {
  display: none;
  color: #ffffff;
  position: absolute;
  left: 0;
  bottom: 1em;
  padding: .4em;
  background: rgba(0, 0, 0, 0.5);
}

/* Bilder responsive */
.sliderElements img {
  display: block;
  width: 100%;
  height: auto;
}

.content input {
  position: absolute;
  left: -99999px;
}

/* mittige Ausrichtung der Controls - funktioniert im Zusammenspiel mit inline-block */
.sliderControls {
  text-align: center;
}

/* Controls nebeneinander bringen */
.sliderControls li {
  display: inline-block;
}

/* Controls auf einheitliche Ma├ƒe bringen und die Ecken abrunden */
.sliderControls label {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  background: #dddddd;
  color: #dddddd;
}

/* Attributselektor und indirekter Nachfahrkombinator zum ansteuern der labels */
.sliderControls label:hover,
#slide01:checked ~ .sliderControls label[for="slide01"],
#slide02:checked ~ .sliderControls label[for="slide02"],
#slide03:checked ~ .sliderControls label[for="slide03"],
#slide04:checked ~ .sliderControls label[for="slide04"],
#slide05:checked ~ .sliderControls label[for="slide05"],
#slide06:checked ~ .sliderControls label[for="slide06"],
#slide07:checked ~ .sliderControls label[for="slide07"],
#slide08:checked ~ .sliderControls label[for="slide08"] {
  background: #444444;
  color: #444444;
}

.hidden-label {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
