body {
}

#root {
    padding: 1%;
}

main {
    margin-top: 1rem;
    min-height: 45vh;
}

header h1 {
    width: 75%;
    margin-bottom: 0;
}

header h2 {
    font-size: .8rem;
    margin-bottom: 3rem;
    color: #cccccc;
}

p {
    text-align: justify;
}

.main-menu {
    text-align: right;
    font-size: .8rem;
    position: fixed;
    width: 100%;
    left: -20px;
    top: 20px;
    z-index: 100;
}

.main-menu input, .main-menu label {
    display: none;
}
.main-menu label {
    cursor: pointer;
}

header h1 a {
    color: #000000;
    letter-spacing: .1em;
    text-decoration: none;
}

.title {
    position: fixed;
    top: 9%;
    right: 1.5rem;
    font-size: .7rem;
    text-align: right;
    z-index: 10;
    width: 18em;
}

header h1 a:hover, header h1 a:active, header h1 a:focus {
    text-decoration: none;
    color: #000000;
}

.social-media-icons .fa {
    font-size: 1.5rem;
    color: #000;
    margin: 0 auto;
}

button#clr {
    display: none;
}

footer {
    position: fixed;
    bottom: .5em;
    left: 80%;
    margin-top: 3rem;
}

footer img {
    max-width: 80px;
    position: relative;
    left: 90px;
    top: 0;
}

main img {
    max-width: auto;
}


#crossfade > img { 
    max-width: 50%;
    height: auto;
    position: absolute;
    top: 0;
    color: transparent;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 30s linear infinite 0s;
    -moz-animation: imageAnimation 30s linear infinite 0s;
    -o-animation: imageAnimation 30s linear infinite 0s;
    -ms-animation: imageAnimation 30s linear infinite 0s;
    animation: imageAnimation 30s linear infinite 0s; 
}

#crossfade > img:nth-child(2)  {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}
#crossfade > img:nth-child(3) {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}
#crossfade > img:nth-child(4) {
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s; 
}
#crossfade > img:nth-child(5) {
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s; 
}


.product-list {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.product-list .product {
    border: 2px solid black;
    text-align: center;
    margin: .5rem;
    display: inline-block;
    width: 45%;
}

.product-list .product img {
    max-width: auto;
    max-height: 150px;
}

.product-list .product #qty-1 {
    width: 20%;
    margin-bottom: 1rem;
    margin-left: .5rem;
    text-align: center;
}

.cart {
  border: 1px solid black;
}

.cart .item {
  border-top: 1px solid black;
}

.cart .item td {
  padding: .2em .5em;
  border-right: 1px solid black;
}

.cart .item td.item-total {
  border: 0 none;
}

@media only screen and (max-width: 640px) {
    #root .social-media-icons li {
        /*display: inline-block;*/
        display: none;
    }

    #root footer .txt-lft {
        position: static;
    }

    #root footer img {
        display: none;
    }

    #root .product-list .product {
        margin: .5rem auto;
        width: 98%;
    }

    footer {
        left: 30%;
    }

    .title {
    
    }

    .main-menu {
        z-index: 3;
        bottom: 1rem;
        top: inherit;
        left: 73%;
        background-color: transparent;
        position: fixed;
    }

    .main-menu li, .main-menu li a {
        background-color: transparent;
        height: auto;
    }

    #crossfade > img {
        max-width: 100%;
        top: 15%;
        left: 0;
        z-index: 2;
    }

    #root .main-menu > ul {
        display: none;
        height: 100%;
    }

    #root .main-menu input {
        text-align: right;
        display: none;
    }

    #root .main-menu input:checked ~ ul {
        display: block !important;       
    }

    #root .main-menu input:checked ~ label {
        display: none;
    }

    .main-menu ul .pure-menu-item {
        display: block;
    }

    .main-menu ul .pure-menu-children {
        display: block;
        position: static;
        left: inherit;
        top: inherit;
    }

    .main-menu ul li {
        width: 6em;
    }

    .main-menu ul > .pure-menu-has-children > a { 
        display: none;
    }

    .main-menu ul > .pure-menu-has-children > a:hover  { 
        display: none;
    }

    .main-menu .pure-menu-disabled {
        display: none;
    }

    .main-menu input:checked ul > .pure-menu-item {
        display: block;
        font-size: 1rem;
    }

    .main-menu label {
      position: relative;
      right: -2rem;
      bottom: 0;
      text-align: right;
      background-image: url('../img/menu-alt.png');
      width: 32px;
      height: 32px;
      display: block;
    }

    .main-menu label::after {
        position: absolute;
        left: 0;
        top: 0.25em;
        width: 1em;
        height: 0.15em;
        background: black;
        box-shadow: 0 0.25em 0 0 black, 0 0.5em 0 0 black;
    }
}

@media only screen and (min-width: 767px) {
    main .deutsch, main .english {
        width: 70%;
    }
    .social-media-icons {
        width: 3.5rem;
    }
}



@-webkit-keyframes imageAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-moz-keyframes imageAnimation { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-o-keyframes imageAnimation { 
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-ms-keyframes imageAnimation { 
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes imageAnimation { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}