body {
}

#root {
    padding: 2%;
}

main {
    margin-top: 1rem;
    min-height: 45vh;
}

header {
    text-align: center;
}

main .deutsch, main .english {
    text-align: justify;
}

header h1 a {
    color: #000000;
    letter-spacing: .2em;
    text-decoration: none;
}

header h1 a:hover, header h1 a:active, header h1 a:focus {
    text-decoration: none;
    color: #000000;
}

.social-media-icons .fa {
    font-size: 1.5rem;
    color: #000;
    margin: 0 auto;
}

button#clr {
    display: none;
}

footer {
    position: fixed;
    bottom: .5em;
    text-align: center;
    margin-top: 3rem;
}

footer .txt-lft {
    position: relative;
    left: -30px;
}

footer img {
    max-width: 80px;
    left: 80px;
    top: -20px;
    /*
    position: relative;
    */
}

main img {
    /*
    box-shadow: 0 0 3px rgba(132, 132, 132, .75);
    border-radius: 2px;
    padding: .2em;
    border: 1px solid #ccc;
    margin: .5rem;
    */
    /*max-height: 100px;*/
    max-width: auto;
}

.product-list {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.product-list .product {
    border: 2px solid black;
    text-align: center;
    margin: .5rem;
    display: inline-block;
    width: 45%;
}

.product-list .product img {
    max-width: auto;
    max-height: 150px;
}

.product-list .product #qty-1 {
    width: 20%;
    margin-bottom: 1rem;
    margin-left: .5rem;
    text-align: center;
}

.cart {
  border: 1px solid black;
}

.cart .item {
  border-top: 1px solid black;
}

.cart .item td {
  padding: .2em .5em;
  border-right: 1px solid black;
}

.cart .item td.item-total {
  border: 0 none;
}

@media only screen and (max-width: 640px) {
    #root .social-media-icons li {
        display: inline-block;
    }

    #root footer .txt-lft {
        position: static;
    }

    #root footer img {
        display: none;
    }

    #root .product-list .product {
        margin: .5rem auto;
        width: 98%;
    }
}

@media only screen and (min-width: 767px) {
    main .deutsch, main .english {
        width: 70%;
    }
    .social-media-icons {
        width: 3.5rem;
    }
}



#crossfade > img { 
    max-width: 50%;
    height: auto;
    position: absolute;
    top: 200px;
    left: 100px;
    color: transparent;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 30s linear infinite 0s;
    -moz-animation: imageAnimation 30s linear infinite 0s;
    -o-animation: imageAnimation 30s linear infinite 0s;
    -ms-animation: imageAnimation 30s linear infinite 0s;
    animation: imageAnimation 30s linear infinite 0s; 
}

#crossfade > img:nth-child(2)  {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}
#crossfade > img:nth-child(3) {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}
#crossfade > img:nth-child(4) {
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s; 
}
#crossfade > img:nth-child(5) {
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s; 
}

@-webkit-keyframes imageAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-moz-keyframes imageAnimation { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-o-keyframes imageAnimation { 
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-ms-keyframes imageAnimation { 
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes imageAnimation { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}